# Data

To find the type of restaurant that can be open in South Delhi to make it unique and different in that area, we will use the following sources of information:

New Delhi has total of 9 boroughs and 175 neighbourhoods. In order to segment the neighbourhoods and explore them, we have the dataset for 9 boroughs along with the latitude and longitude coordinates of each neighbourhood.

This data can be extracted for free on Kaggle, here is the link: https://www.kaggle.com/shaswatd673/delhi-neighborhood-data#restaurant_dataSet.csv


Let's explore the data

In [1]:
#importing pandas to read the dataset
import pandas as pd

In [2]:
data_loc = "delhi_dataSet.csv"

In [3]:
df = pd.read_csv(data_loc)

In [4]:
df.head()   #glance at the data

   Unnamed: 0           Borough  Neighborhood   latitude  longitude
0           0  North West Delhi  Adarsh Nagar  28.614192  77.071541
1           1  North West Delhi   Ashok Vihar  28.699453  77.184826
2           2  North West Delhi       Azadpur  28.707657  77.175547
3           3  North West Delhi        Bawana  28.799660  77.032885
4           4  North West Delhi     Begum Pur        NaN        NaN

In [5]:
df.shape #shape of the data

(185, 5)

In [6]:
df['Borough'].unique()  #Looking at the unique values

array(['North West Delhi', 'North Delhi', 'North East Delhi',
       'Central Delhi', 'New Delhi', 'East Delhi', 'South Delhi',
       'South West Delhi', 'West Delhi'], dtype=object)

In [7]:
#total number unique neighbourhoods
len(df['Neighborhood'].unique())

175